<!DOCTYPE html>
<html>
<head>
  <title>MYKomiks | Komik Strips</title>
  <link href="http://dl.dropbox.com/u/3426859/mykomiks/home/style.css" media="screen" rel="stylesheet" type="text/css" />
  <%= auto_discovery_link_tag(:rss, "/strips.rss") %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrap">
<img id="imgmap" src="http://dl.dropbox.com/u/3426859/mykomiks/home/mytitle.gif" usemap="#imgmap" border="0" width="757" height="213" alt="" />
<map id="_imgmap" name="imgmap">
<area shape="rect" coords="0,0,757,162" href="/" alt="MYKomiks" title="MYKomiks" />
<area shape="rect" coords="0,166,215,213" href="/kharakters.html" alt="Kharakters" title="Kharakters" />
<area shape="rect" coords="217,166,427,213" href="/kontakt" alt="Kontakt" title="Kontakt" />
<area shape="rect" coords="428,166,560,213" href="/about.html" alt="About" title="About" />
<area shape="rect" coords="561,166,610,213" href="http://www.facebook.com/pages/MYKOMIKS/112849878727118" alt="Facebook" title="Facebook" />
<area shape="rect" coords="611,166,662,213" href="/strips.rss" alt="RSS" title="RSS" />
<area shape="rect" coords="663,166,710,213" href="http://twitter.com/mykomiks" alt="Twitter" title="Twitter"    />
<area shape="rect" coords="711,166,757,213" href="/subscribe" alt="Subscribe" title="Subscribe" onclick="alert('Email subscription will be available soon!'); return false;" />
</map>

<% unless notice.nil? %>
<p class="notice"><%= notice %></p>
<% end %>

<%= yield %>

<div id="footer">
<div style="text-align:center;">
	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="/" title="MYKomiks">MYKomiks</a>
 | 	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="/kharakters.html" title="Kharakters">Kharakters</a>
 | 	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="/kontakt" title="Kontakt">Kontakt</a>
 | 	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="/about.html" title="About">About</a>
 | 	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="http://www.facebook.com/pages/MYKOMIKS/112849878727118" title="Facebook">Facebook</a>
 | 	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="/feed" title="RSS" onclick="alert('Feeds will be available soon!'); return false;">RSS</a>
 | 	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="http://twitter.com/mykomiks" title="Twitter">Twitter</a>
 | 	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="/subscribe" title="Subscribe" onclick="alert('Email subscription will be available soon!'); return false;">Subscribe</a>
</div>
  <p>&copy; Copyright 2010 MYKomiks</p>
</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15599723-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
